.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  row-gap: 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}
