.counter {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e9eaeb;
  padding: 1rem;
}

.counterBtn {
  border: none;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.counterValue {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
}

.thinIcon {
  stroke-width: 1;
}
