@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #1e2a38;
  /* #FF7F50: Coral orange */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #1e2a38 */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f9f9f9;
}
